@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
    --cor--white: hsl(0, 0%, 100%);
    --cor--light_gray: hsl(212, 45%, 89%);
    --cor--grayish_blue: hsl(220, 15%, 55%);
    --dark_blue: hsl(218, 44%, 22%);
	--font--text: 'Outfit', sans-serif;;
}

html{
    height: 100%;
}
body{
    background-color: var(--cor--light_gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 50px;
}

.qr_container{
	padding: 60px;
}

.content_box{
	background-color: var(--cor--white);
	width: 280px;
	height: 440px;
	border-radius: 14px;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 14px;
}

.qrcode{
    height: 60%;
}
.qrcode_image{
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.text_container{
	font-family: var(--font--text);
}
.first_paragraph{
	font-size: 20px;
	font-weight: 700;
	padding: 25px 10px;
	color: var(--dark_blue);
}
.second_paragraph{
	font-size: 14px;
	color: var(--cor--grayish_blue);
	padding: 0px 10px;
}

.link{
	text-decoration: underline;
}
footer{
	height: 10%;
	display: flex;
	align-items: flex-end;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 400px){
	body{
		padding: 0px;
	}
}